# Redirect HTTP -> HTTPS

server {
  listen 80;
  listen [::]:80;
  server_name {{ item.domain }};

  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ item.domain }};

  include /etc/nginx/conf.d/options-ssl-nginx.conf;
  ssl_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ item.domain }}/privkey.pem;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  root /var/www/{{ item.domain }};
  index index.html;

  location / {
    try_files $uri $uri/ = 404;
  }

  access_log /var/log/nginx/{{ item.domain }}_access.log;
  error_log /var/log/nginx/{{ item.domain }}_error.log;

}
